@using Stubbl.Identity.Models.ForgotPassword

@model ForgotPasswordViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Forgotten your password?
            </h1>
        </div>

        <div class="alert alert-info">
            We need to send a verification email before we can reset your password.
        </div>

        @Html.Partial("_ValidationSummary")

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label asp-for="EmailAddress">Email address</label>
                <input type="email" asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
            </div>

            <div class="form-group">
                Remembered your password? <a asp-route="Login" asp-route-returnUrl="@Model.ReturnUrl" data-append="#@Html.IdFor(m => m.EmailAddress)">Log in</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScripts")
}