@using Stubbl.Identity.Models.ForgotPasswordConfirmation
@model Stubbl.Identity.Models.ForgotPasswordConfirmation.ForgotPasswordConfirmationViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Forgot your password?
            </h1>
        </div>

        <p class="alert alert-success">
            We've just sent you an email containing a link to reset your password.
        </p>

        <p>
            <a asp-route="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-link p-0">Not received the email?</a>
        </p>
    </div>
</div>