@if (!ViewContext.ModelState.IsValid)
{
    @if (ViewContext.ModelState.TryGetValue(ViewData.TemplateInfo.HtmlFieldPrefix, out var _))
    {
        <div class="alert alert-danger">
            <div asp-validation-summary="ModelOnly" class="danger"></div>
        </div>
    }
}