
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="page-header">
            <h2 class="mb-5 display-4 text-danger">
                Error <i class="fa fa-frown-o"></i>
            </h2>
        </div>
        <p class="lead">An error occurred while processing your request.</p>
    </div>
</div>