@using IdentityModel

@{
    var emailAddress = User.Claims.FirstOrDefault(c => c.Type == JwtClaimTypes.Email)?.Value;
    var phoneNumber = User.Claims.FirstOrDefault(c => c.Type == JwtClaimTypes.PhoneNumber)?.Value;
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="page-header">
            <h2 class="mb-5 display-4">
                Your Info
            </h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="rounded-circle" asp-gravatar-emailaddress="@User.Claims.FirstOrDefault(c => c.Type == JwtClaimTypes.Email)?.Value" asp-gravatar-size="200"/>
            </div>
            <div class="col-md-6">
                <h3 class="mb-0">
                    @User.Claims.FirstOrDefault(c => c.Type == JwtClaimTypes.Name)?.Value
                </h3>
                @*<a asp-route="EditName"><small>Edit name</small></a>*@

                @if (!string.IsNullOrWhiteSpace(emailAddress))
                {
                    <h5 class="mt-4 mb-0">
                        <i class="fa fa-envelope"></i>
                        @emailAddress
                    </h5>
                    @*<a asp-route="EditEmailAddress"><small>Edit email address</small></a>*@
                }

                @if (!string.IsNullOrWhiteSpace(phoneNumber))
                {
                    <h5 class="mt-4 mb-0">
                        <i class="fa fa-phone"></i>
                        @phoneNumber
                    </h5>
                    @*<a asp-route="EditPhoneNumber"><small>Edit phone number</small></a>*@
                }
            </div>
        </div>
    </div>
</div>