@using Stubbl.Identity.Models.AddPassword

@model AddPasswordInputModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Add a password
            </h1>
        </div>

        <div class="alert alert-info">
            Add a password so you can log in without an external login.
        </div>

        @Html.Partial("_ValidationSummary")

        <form method="post">
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
                <a asp-route="Home" class="btn btn-secondary btn-block">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScripts")
}
