@using Stubbl.Identity.Models.ConfirmEmailAddressConfirmation

@model ConfirmEmailAddressConfirmationViewModel

<div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Your email address has been confirmed
            </h1>

            <p class="lead">
                You can now <a asp-route="Login" asp-route-emailAddress="@Model.EmailAddress" asp-route-returnUrl="@Model.ReturnUrl">log in</a>.
            </p>
        </div>
    </div>
</div>