
<div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Locked out
            </h1>
        </div>

        <div class="alert alert-info">
            Your account has been locked out, please try again later.
        </div>
    </div>
</div>