@using Stubbl.Identity.Models.Logout

@model LogoutViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Logout
            </h1>
        </div>

        <p class="lead">Would you like to sign out of Stubbl?</p>

        <form asp-route="Logout">
            <input type="hidden" asp-for="LogoutId" value="@Model.LogoutId"/>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg btn-primary btn-block">Yes</button>
                    </div>
                    <div class="col">
                        <a href="javascript:history.back()" class="btn btn-lg btn-secondary btn-block">No</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>