@using Stubbl.Identity.Models.ResetPasswordConfirmation

@model ResetPasswordConfirmationViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Your password has been reset
            </h1>

            <p>
                <a asp-route="Login" asp-route-emailAddress="@Model.EmailAddress" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
            </p>
        </div>
    </div>
</div>
